<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>331877717299-1m0jk2o32sktqdv3v7lvsca1msvp90qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331877717299-1m0jk2o32sktqdv3v7lvsca1msvp90qn</string>
	<key>API_KEY</key>
	<string>AIzaSyC--JEZPo12LmCLb_70uChZTSchaobdHWM</string>
	<key>GCM_SENDER_ID</key>
	<string>331877717299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.solvely.Solvely</string>
	<key>PROJECT_ID</key>
	<string>solvely-92018</string>
	<key>STORAGE_BUCKET</key>
	<string>solvely-92018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:331877717299:ios:87215b6b6b7d0c3f</string>
	<key>DATABASE_URL</key>
	<string>https://solvely-92018.firebaseio.com</string>
</dict>
</plist>
